<aside class="page-actions ons-u-mb-l" aria-labelledby="page-actions__title">
  <h2 id="page-actions__title" class="ons-u-fs-r--b ons-u-mb-s">
    {{- localise "PageActionsTitle" .Language 4 -}}
  </h2>
  {{ $twitter := index .ShareLinks "twitter" }}
  {{ $linkedin := index .ShareLinks "linkedin" }}
  {{ $email := index .ShareLinks "email" }}
  <ul class="ons-list ons-list--bare ons-list--icons">
    <li class="page-action--twitter ons-list__item {{ if $twitter.RequiresJavaScript }}nojs--hide{{ end }}">
      <span class="ons-list__prefix">
        {{ template "icons/twitter" }}
      </span>
      <a
        class="ons-u-us-no"
        href="{{ $twitter.Url }}"
        aria-label="{{ localise "PageActionTweetArialLabel" .Language 1 }}"
      >
        {{- localise "PageActionTweet" .Language 1 -}}
      </a>
    </li>
    <li class="page-action--linkedin ons-list__item {{ if $linkedin.RequiresJavaScript }}nojs--hide{{ end }}">
      <span class="ons-list__prefix">
        {{ template "icons/linkedin" }}
      </span>
      <a
        class="ons-u-us-no"
        href="{{ $linkedin.Url }}"
        aria-label="{{ localise "PageActionLinkedInAriaLabel" .Language 1 }}"
      >
        {{- localise "PageActionLinkedIn" .Language 1 -}}
      </a>
    </li>
    <li class="page-action--email ons-list__item {{ if $email.RequiresJavaScript }}nojs--hide{{ end }}">
      <span class="ons-list__prefix">
        {{ template "icons/email" }}
      </span>
      <a
        class="ons-u-us-no"
        href="{{ $email.Url }}"
        aria-label="{{ localise "PageActionEmailAriaLabel" .Language 1 }}"
      >
        {{- localise "PageActionEmail" .Language 1 -}}
      </a>
    </li>
    <li class="page-action--copy-link ons-list__item">
      <span class="ons-list__prefix">
        {{ template "icons/copy-link" }}
      </span>
      <a
        class="ons-u-us-no"
        href=""
        aria-label="{{ localise "PageActionCopyLinkAriaLabel" .Language 1 }}"
      >
        {{- localise "PageActionCopyLink" .Language 1 -}}
      </a>
    </li>
    <li class="page-action--download ons-list__item">
      <span class="ons-list__prefix page-action__icon--no-roundel">
        {{ template "icons/download" }}
      </span>
      <a
        class="ons-u-us-no"
        href="{{ .URI }}/pdf"
        aria-label="{{ localise "PageActionDownloadPDFAriaLabel" .Language 1 }}"
      >
        {{- localise "PageActionDownloadPDF" .Language 1 -}}
      </a>
    </li>
    <li class="page-action--print ons-list__item nojs--hide">
      <span class="ons-list__prefix page-action__icon--no-roundel">
        {{ template "icons/print" }}
      </span>
      <a
        class="ons-u-us-no"
        href=""
        aria-label="{{ localise "PageActionPrintAriaLabel" .Language 1 }}"
      >
        {{- localise "PageActionPrint" .Language 1 -}}
      </a>
    </li>
  </ul>
</aside>
