{{ $content := index .Source .Index }}
<div class="about-the-data">
  <h2>{{ $content.Title }}</h2>
  <div class="ons-u-mb-l census-2021">
    {{ if eq .Language "cy" }}
      <img
        src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-cyfrifiad-2021-purple-landscape.svg"
        alt="Census 2021 logo"
        class="ons-u-mb-xs"
        width="171"
      >
    {{ else }}
      <img
        src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
        alt="Census 2021 logo"
        class="ons-u-mb-xs"
        width="171"
      >
    {{ end }}
    {{ markdown $content.Markdown }}
  </div>
</div>
