<div class="ons-pl-grid-col">
  {{ range $sectionView := .ContentsView }}
    <section id="{{ $sectionView.Id }}">
      {{ $content := index $sectionView.Source $sectionView.Index }}
      <h2>{{ $content.Title }}</h2>
      {{ markdown $content.Markdown }}
    </section>
  {{ end }}
</div>
