<div class="content-body ons-pl-grid-col">
  {{/*
  {{ range $sectionView := .ContentsView }}
    <section id="{{ $sectionView.Id }}">
      {{ $content := index $sectionView.Source $sectionView.Index }}
      <h2>{{ $content.Title }}</h2>
      {{ markdown $content.Markdown }}
      <div class="ons-u-mb-l ons-u-mt-l ons-u-vh@m">
        {{ template "partials/back-to" $sectionView }}
      </div>
    </section>
  {{ end }}
  */}}

  <section id="section-summary">
    <h2>{{ localise "SectionTitleSummaryOfRequest" .Language 1 }}</h2>
    {{ range .BodyMarkdown }}
      {{ markdown .}}
    {{ end }}
  </section>

  <section id="section-downloads">
    {{ $plural := 1 }}
    {{ if gt (len .Downloads) 1 }}
      {{ $plural = 4 }}
    {{ end }}
    <h2>{{ localise "SectionTitleDownloadAssociatedWithRequest" .Language $plural }}</h2>
    <ul>
      {{ range .Downloads}}
        <li>
            {{ $path := printf "%s/%s" $.URI .File}}
            {{ $extension := ".txt" }}
            {{ $size := "100kb" }}
            <a
              href="/file?uri={{ $path }}"
              aria-label="Download {{ .Title }} as {{ $extension }} ({{ $size }})"
            >
              {{- .Title -}}
            </a>
            ({{ $size }} {{ $extension }})
        </li>
      {{ end }}
    </ul>
  </section>

  <section id="section-further-reading">
    <h2>{{ localise "SectionTitleFurtherReading" .Language 1 }}</h2>
    <ul class="list--neutral">
      <li>
        <a
          data-gtm-type="related-link"
          data-gtm-title="All user requested data"
          href="/aboutus/whatwedo/statistics/requestingstatistics/alladhocs"
        >
          {{- localise "FurtherReadingAllRequestedData" .Language 1 -}}
        </a>
      </li>
      <li>
        <a
          data-gtm-type="related-link"
          data-gtm-title="Making a request"
          href="/aboutus/whatwedo/statistics/requestingstatistics/makingarequest"
        >
          {{- localise "FurtherReadingMakingARequest" .Language 1 -}}
        </a>
      </li>
    </ul>
  </section>
</div>
