<div class="ons-u-mb-xl">
  <div class="ons-grid ons-u-ml-no">
    <!-- Left column -->
    <div class="ons-grid__col ons-col-4@m ons-u-p-no">
      <div class="ons-pl-grid-col">
        <span class="ons-u-fs-r--b">{{ localise "StatusLineReleased" .Language 1 }}:</span>
        <span>{{ dateTimeOnsDatePatternFormat .ReleaseDate .Language }}</span>
      </div>
    </div>

    <!-- Right column -->
    <div class="ons-grid__col ons-col-8@m">
      <div class="ons-pl-grid-col">
        <span class="ons-u-fs-r--b">LATEST</span>
        <a href="">{{ localise "StatusLinePreviousReleases" .Language 1 }}</a>
      </div>
    </div>
  </div>
</div>
