<div>
  <ul class="status-header ons-list ons-list--bare ons-list--inline">
    <li class="ons-list__item ons-u-mr-xs@xs">
      <span class="ons-u-fs-r--b">{{ localise "StatusLineReleased" .Language 1 }}:</span>
      <span class="ons-u-nowrap">{{ dateTimeOnsDatePatternFormat .ReleaseDate .Language }}</span>
    </li>
    <li class="ons-list__item ons-u-mt-xs@xxs@m ons-u-mr-s@xxs@m ons-u-mr-l@m">
      {{ template "partials/bulletin/status-header/edition-version-sticker" . }}
    </li>
    <li class="version-link ons-list__item ons-u-mt-xs@xxs@m">
      {{ template "partials/bulletin/status-header/edition-version-link" . }}
    </li>
  </ul>
  <div class="ons-u-pt-s ons-u-pb-m@m ons-u-pb-s@xxs@m">
    {{ if .Census2021 }}
      {{ if eq .Language "cy" }}
        <img
          src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-cyfrifiad-2021-purple-landscape.svg"
          alt="Census 2021 logo"
          width="171"
        >
      {{ else }}
        <img
          src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
          alt="Census 2021 logo"
          width="171"
        >
      {{ end }}
    {{ end }}
  </div>
</div>
