{{ define "scripts-bulletin" }}
  <script src="https://pym.nprapps.org/pym.v1.min.js"></script>
  <script>
    function buildEmbedCode(embedCode, height) {
      // replace any existing height attributes caused by multiple
      // re-sizes when child page uses JS to hide on page elements
      if (embedCode.indexOf("height") !== -1) {
        return embedCode.replace(/height=(\"|')[^(\"|')]*(\"|') /, 'height="' + height + 'px" ')
      }

      return embedCode.substr(0, 7) + ' height="' + height + 'px" ' + embedCode.substr(8, embedCode.length);
    }

    function addIframeHeightToEmbedCode(height) {
      var input = document.getElementById("embed-" + this.id);
      input.value = buildEmbedCode(input.value, height);
    }

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("div.ons-tag__pym-interactive").forEach((interactive) => {
        const pymParent = new pym.Parent(interactive.id, interactive.dataset.url, {
          title: interactive.dataset.title
        });

        pymParent.onMessage('height', addIframeHeightToEmbedCode);
      });
    })
  </script>
{{ end }}
<div class="ons-page__container ons-container bulletin">
  {{ template "partials/breadcrumb" . }}

  <div class="ons-u-fs-m ons-u-mt-s ons-u-pb-xxs bulletin__document-type">
    {{- if eq .Type "article" -}}
      {{- localise "DocumentTypeArticle" .Language 1 -}}
    {{- else -}}
      {{- localise "DocumentTypeBulletin" .Language 1 -}}
    {{- end -}}
  </div>

  <h1 class="ons-u-fs-xxxl ons-u-mb-m">
    {{- .Page.Metadata.Title -}}
  </h1>

  {{ template "partials/bulletin/status-header" . }}
  {{ template "partials/bulletin/contents" . }}
</div>
