<div class="ons-page__container ons-container bulletin">
  {{ template "partials/breadcrumb" . }}

  <h1 class="ons-u-fs-xxxl ons-u-mt-s ons-u-mb-m">
    {{- .Page.Metadata.Title -}}
  </h1>

  {{ template "partials/bulletin/status-header" . }}
  {{ template "partials/bulletin/contents" . }}
</div>
